<table>
    <tr>
        <td><img src="https://github.com/nighthawkcoders/nighthawk_csp/wiki/Tri-3-TT1---Data-Structures" height="100" width="100" alt=""> </td>
        <td><a href=".">Home</a></td>
        <td><a href="about">Notes</a></td>
        <td class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    Notes
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href={{ url_for('about') }}>5.1,5.2</a>
                </div>
         </td>
        <td><a href="code">Replit</a></td>
    </tr>
</table>
<hr>
