<table>
    <tr>
        <td><img src="https://www.google.com/search?q=forerunner+church+insignia&sxsrf=APq-WBtjD0Jl3ZVNLKk-SqvrSguS74q9QQ:1647371230179&tbm=isch&source=iu&ictx=1&vet=1&fir=5NGI78vToaEHTM%252CK8tQU0p0_9LPPM%252C_%253Bctww7lCtuX6q4M%252C7cVkhLzdlmCi_M%252C_%253BsS19udIHXmpB-M%252CK8tQU0p0_9LPPM%252C_%253BMnhekGVY5i3unM%252CcYW5yfsnOc4LpM%252C_%253B4mUNKmnRNrCxLM%252CK8tQU0p0_9LPPM%252C_%253BTBkmrgJ2c2gaqM%252ChT0j9xeuv1wPOM%252C_%253Bf7QG8ZKSxyct8M%252Cpl9lAWQCqLYO6M%252C_%253BJf_u_-mnfFNf9M%252CK8tQU0p0_9LPPM%252C_%253BLcnzLQZTRQCctM%252COU-UXYPzFkY5pM%252C_%253BKiW2SeyLSmI7hM%252CK8tQU0p0_9LPPM%252C_&usg=AI4_-kRd-hh0LAGrlaQ_smEbPqBNefhvyg&sa=X&ved=2ahUKEwjErfOH6Mj2AhUSKEQIHfd2B_gQ9QF6BAgJEAE#imgrc=MnhekGVY5i3unM"100"  alt=""> </td>
        <td><a href=".">Home</a></td>
        <td><a href="about">Notes</a></td>
        <td><a href="https://replit.com/@allisonthuang/AllisonCSPTri3?v=1">Replit</a></td>
    </tr>
</table>
<hr>
